/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2020, 9:57:04 AM
    Author     : Tanveer Qureshee
*/

.value_example_size{
    font-weight: bold;
    font-style: italic;
    font-size: 11px;
}